DEBUG=False
SECRET_KEY=your_secure_secret_key_here
REVALIDATE_SECRET=your_revalidate_secret_here
FRONTEND_REVALIDATE_URL=http://frontend:3000/api/revalidate

DB_ENGINE=django.db.backends.postgresql
DB_NAME=icommerce
DB_USER=icommerce
DB_PASSWORD=icommerce2026
DB_HOST=db
DB_PORT=5432

REDIS_URL=redis://redis:6379/0

ALLOWED_HOSTS=localhost,127.0.0.1,yourdomain.com
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_app_password
